.addStudent {
    width: 400px;
    margin: auto;
    background-color: #fff;
    margin-top: 100px;
    border: 1px solid gray;
    position: relative;
    box-shadow: 1px 1px 5px;
    text-align: center;
    border-radius: 5px;
    animation: showAddStudent 0.3s ease-in;
}

@keyframes showAddStudent {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.addStudent span, .updateUser span{
    display: block;
}

[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    display:  none;
}

.addStudent small, .updateUser small{
    text-align: left;
    color: red;
    display: block;
    margin-left: 10px;
}

.addStudent h2, .updateUser h2 {
    background-color: var(--primary-color);
    color: #fff;
    width: 150px;
    margin: auto;
    margin-top: 20px;
    border-radius: 50%;
    padding: 20px 10px;
    text-align: center;
}

.addStudent input, .addStudent button,
.addStudent select, .updateUser input, .updateUser button, .updateUser select{
    width: 98%;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 0;
    padding: 7px 10px;
    outline: none;
    border-bottom:1px solid grey ;
}

.addStudent input:focus, .updateUser input:focus{
    border-bottom: 1px solid blue;
}

.addStudent button, .updateUser button{
    width: 100px;
    cursor: pointer;
    margin: 10px;
    border: 1px solid var(--primary-color);
    background-color:  rgb(87, 87, 250);
    color: var(--white-color);
    transition: 0.3s;
}

.updateUser button {
    margin-top: 10px;
    width:90px ;
}

.addStudent p, .updateUser p {
    text-align: right;
    cursor: pointer;
}

.addStudent p:hover, .updateUser p:hover{
    color: blue;
}

.addStudent button:hover, .updateUser button:hover{
    background-color: transparent;
    color: var(--primary-color);
}

.modal_content button {
    width: 150px;
}

@media (max-width: 740px){
    .addStudent{
        width: 90%;
    }

    .updateUser {
        width: 100%;
    }

}