:root {
    --primary-color: rgb(73, 121, 252);
    --white-color: #fff;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('https://hcmussh.edu.vn/img/news/27366933.jpg?t=27366934') no-repeat content-box;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.p_20 {
    padding: 20px;
}

.m-auto{
    margin: auto;
}

.no_underline {
    text-decoration: none;
}

.b_1_solid_grey {
    border: 1px solid grey;
}

.center {
    text-align: center;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.red {
    color: red;
}