:root {
    --primary-color: rgb(73, 121, 252);
    --white-color: #fff;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(67, 252, 138), rgb(72, 249, 255));

}

.flex {
    display: flex;
    justify-content: space-between;
}

.m-auto{
    margin: auto;
}

.no_underline {
    text-decoration: none;
}

.b_1_solid_grey {
    border: 1px solid grey;
}

.center {
    text-align: center;
}