.header {
    height: 700px;
    align-items: center;
    padding: 20px 2%;
    display: block;
    background-color: #fff;
    border-right: 1px solid grey;
    box-shadow: 1px 1px 5px;
    width: 200px;
    max-width: 100%;
}
    
.header h3 {
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.userImage {
    margin: auto;
}

img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: 1px solid var(--primary-color);
}

.header span {
    padding: 5px 8px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
    border: 1px solid var(--primary-color);
    transition: 0.3s;
}

.userImage h3 {
    color: var(--primary-color);
}

.header .homeTown {
    margin-bottom: 10px;
}

.header span:hover {
    color: var(--primary-color);
    background-color: transparent;
}

@keyframes showInfor{
    from {
        opacity: 0;
        top: 100px;
    }
    to {
        opacity: 1;
        top: 55px;
    }
}

.showUserInfo_Mobile {
    position: fixed;
    top: 10px;
    font-size: 30px;
    right: 5%;
    z-index: 2;
    display: none;
}

.header .infor div:first-child {
    display: none;
}

.header .Out {
    display: none;
}

/* Moblie */
@media (max-width: 740px){
    .header {
        height: auto;
        box-shadow: unset;
        position: fixed;
        z-index: 2;
        top: 0;
        right: 0;
        animation: showHeader 0.5s ease-in-out;
    }

     @keyframes showHeader {
        from {
            opacity: 0;
            right: -50%;
        }
        to {
            opacity: 1;
            right: 0;
        }
    }

    .showUserInfo_Mobile {
        display: block;
    }

    .header h2 {
        margin-top: 20px;
    }

    .header .infor div:first-child {
        display: block;
    }

    .header .Out {
        display: block;
    }
} 