.header {
    height: 70px;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 10px 30px;
    background-color: #fff;
    top: 0;
    width: 100%;
    position: fixed;
    animation: moveHeader 0.3s ease-in;
}

@keyframes moveHeader {
    from {
      top: -50px;
    }
    to {
      top: 0;
    }
}

.header h3 {
    margin-top: 10px;
    transition: 0.3s;
}

.userImage {
    margin: auto;
}

 img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: 1px solid var(--primary-color);
}

.header span {
    padding: 5px 8px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 5px;
    border: 1px solid var(--primary-color);
    transition: 0.3s;
}

.userImage h3 {
    color: var(--primary-color);
}

.header .homeTown {
    margin-bottom: 10px;
}

.header .infor {
    position: absolute;
    top: 55px;
    padding: 20px;
    left: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    display: none;
    /* box-shadow: 1px 1px 3px; */
    width: 250px;
    background-color: rgb(236, 249, 250);
    animation: showInfor 0.3s ease-in-out;
}

.header .inforAdmin:hover .infor{
    display: block;
}

.header span:hover {
    color: var(--primary-color);
    background-color: transparent;
}

@keyframes showInfor{
    from {
        opacity: 0;
        top: 100px;
    }
    to {
        opacity: 1;
        top: 55px;
    }
}