.login {
    width: 600px;
    margin: auto;
    background-color: #fff;
    margin-top: 100px;
    border: 1px solid gray;
    padding: 20px;
    position: relative;
    box-shadow: 1px 1px 5px;
    text-align: center;
    border-radius: 5px;
    animation: showAddStudent 0.3s ease-in;
}


@keyframes showAddStudent {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.login span {
    display: block;
}

.login h2 {
    color: var(--primary-color);
    width: 100%;
    margin: auto;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
}

.login .imageLogin img {
    height: 100%;
    width: 250px;
}

.login input, .login button {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 5px 0px;
    outline: none;
}

.login input {
    border-bottom:1px solid grey ;
}

.login input:focus {
    border-bottom: 1px solid blue;
}

.login button {
    width: 150px;
    cursor: pointer;
    margin-top: 0;
    border: none;
    background-color:  rgb(87, 87, 250);
    color: var(--white-color);
}

.login p {
    text-align: right;
    cursor: pointer;
}

.login p:hover {
    color: blue;
}

.login button:hover {
    opacity: 0.8;
}

.modal_content button {
    margin-top: 10px;
}

@media (max-width: 740px){
    .login{
        width: 90%;
    }
}