
.sign_up {
    width: 400px;
    margin: 100px auto;
    border: 1px solid gray;
    padding: 20px;
    background-color: #fff;
    position: relative;
    text-align: center;
    border-radius: 5px;
    animation: showAddStudent 0.3s ease-in;
    box-shadow: 1px 1px 5px;
}

@keyframes showAddStudent {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.sign_up .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.sign_up h2 {
    background-color: var(--primary-color);
    color: #fff;
    width: 150px;
    margin: auto;
    border-radius: 50%;
    padding: 20px 10px;
    text-align: center;
}

.sign_up input, .sign_up button {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    margin-top: 10px;
    outline: none;
}

.sign_up input {
    border-bottom: 1px solid gray;
}

.sign_up small {
    color: red;
    text-align: left;
    display: block;
}

.sign_up input:focus {
    border-bottom: 1px solid blue;
}

.sign_up button {
    width: 150px;
    cursor: pointer;
    margin: 10px;
    margin-top: 20px;
    border: none;
    background-color:  rgb(87, 87, 250);
    color: var(--white-color);
}

.sign_up button:hover {
    opacity: 0.8;
}

.sign_up span {
    margin: 10px 5px 0 5px;
    font-size: 30px;
}

.social_signUp span:first-child() {
    color: blue;
} 
.social_signUp span:last-child() {
    color: yellow;
} 

.modal_content button {
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 5px 0px;
    outline: none;
    width: 150px;
    cursor: pointer;
    margin: 10px;
    border: none;
    background-color:  rgb(87, 87, 250);
    color: var(--white-color);
}

@media (max-width: 740px){
    .sign_up{
        width: 90%;
    }
}